body {
    background-color: beige;
}

.code {
  font-family: monospace;
  background-color: white;
  text-align: center;
  font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 100px;
}

table {
    border: 2px solid gold;
}